import streamlit as st
import re
import socket
import smtplib
from email.message import EmailMessage
import ssl
import pickle
from sklearn.feature_extraction.text import CountVectorizer
import subprocess